* {
	font-family:"Calibri";
}

div.ClientSummary {
	height: 80%;
	width: 28%;
	overflow-x: hidden;
	overflow-y: scroll;
	float: left;
	font-size: 16px;
}

.HighlightJob {
	background-color: #7BCC78	!important;
}

.EditJob {
	background-color: #F56464	!important;
}

.ClientTable tr:nth-child(even) {
    background-color: #FEF0C9;
}


.ClientTable tr:first-child {
    background-color: #CDC0B0;
}

div#ClientDetail {
	width: 71%;
	height: 80%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: 10px;
}

#JobTable tr td {
	font-size: 14px;
	vertical-align: text-top;
}


tr#JobBorder td {
	border: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	border-left: 0px;
	border-top: 0px;
}

td#JobTech {
	width: 60px;
	text-align: center;
	border-left: 5px;
	
}

td#JobCode {
	width: 75px;
}

td#JobNotes {
	width: 800px;
}

td#JobQty {
	width: 60px;
}

a {
	color:#000000;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}
