* {
	font-family:"Calibri";
	font-size: 16px;

}

div.ClientSummary {
	height: 80%;
	width: 27.5%;
	overflow-x: hidden;
	overflow-y: scroll;
	float: left;
}

div.ClientDetail {
	width: 60%;
	height: 80%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
}