* {
	font-family:"Calibri";
}

/* ec-invoice.php */

.ClientSummary {
	height: 90%;
	width: 26%;
	overflow-x: hidden;
	overflow-y: scroll;
	float: left;
	font-size: 16px;
}

.HighlightJob {
	background-color: rgb(123,204,120)	!important;
}

.ClientTable {
	border-collapse:collapse;
}

.ClientTable tr:nth-child(odd) {
    background-color: rgb(254,240,201);
}

a {
	color:rgb(0,0,0);
	text-decoration: none;
}

tr#JobList:hover {
	background-color: rgb(207,207,236);
	cursor: hand;
	cursor: pointer;
}

.UnbilledJobs {
	padding-left: 25px;
	padding-right: 25px;
}

.JobTotalValue { 
	padding-right: 20px;
}

.CustomerName {
	padding-left: 10px;
}

/* query.php */

#ClientDetail {
	width: 71%;
	height: 90%;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: 10px;
}

#EditJobHeader {
	float:right; 
	padding-right: 5px
	cursor: hand;
	cursor: pointer;
}

#JobHeader {
	background-color: rgb(224,224,255);
}

tr#JobBorder td {
	border: 1px;
	border-style: solid;
	border-top: none;
	border-color: rgb(192,192,192);
}

td.JobTech {
	width: 60px;
	text-align: center;
}

[id^="JobTable"] tr td {
	font-size: 14px;
	vertical-align: text-top;
}

td[id^="JobCode"] {
	width: 75px;
}

td[id^="JobNotes"] {
	width: 800px;
}

td[id^="JobQty"] {
	width: 60px;
}

td[id^="JobUnitPrice"] {
	width: 60px;
}

td[id^="JobLinePrice"] {
	width: 60px;
}

[id^="JobTable"] {
	border: 1px;
	border-collapse: collapse;
}

#DisplayJobTotal {
	background-color: rgb(255,235,205);
	position: relative;
	width: 123px;
	left: 1005px;
	margin-bottom: 20px;
	text-align: right;
	padding-right: 5px;
}

[class^="EditRow"] {
	border-style: none		!important;
	padding-left: 5px;
	margin-top: 5px;
	visibility: hidden;
}

.AddRow, .DeleteRow {
	cursor: hand;
	cursor: pointer;
}